<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Lei Shi">
	<meta http-equiv="Cache-Control" content="o-transform">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>i技术Team</title>
<link rel="shortcut icon" href="http://7u2suj.com1.z0.glb.clouddn.com/logo_f.png" type="image/vnd.microsoft.icon" />
<link type="text/css" rel="stylesheet" href="css/notsec.css">
<script type="text/javascript" src="./js/wula.js"></script>

<style type="text/css">
<!--
.STYLE1 {color: #FFFFFF}
-->
</style>


</head>
<body>
<header><!--页头-->
	<nav><!--导航栏开始-->
	<ul>
	<li class="logo"><a id="logotxt" href="http://www.ijishu.org/" title="i技术Team-享受技术的快感">&nbsp;</a></li>
	<li><a href="http://bbs.ijishu.org/" title="i技术论坛-网络安全爱好者技术交流平台" target="_blank">论坛</a></li>
	<li><a href="#">归档</a></li>
	<li><a href="#">成员</a></li>
	<li><a href="#">关于</a></li>
	<li class="logit"><a id="logitxt" href="https://github.com/login/" title="登录">&nbsp;</a></li>
	</ul>
	</nav>
</header>
<!--页头结束|导航栏结束

<div class="hadeck STYLE1">
	<ul class="hade_ul">
	<li><h3>什么是真正的黑客？</h3><br>
	<li>1.在所有人热烈地讨论某网站的盈利模式时，她静静地说：那个网站是我写的。——关注技术，而不是商业。</li><br>
	<li>2.在所有人热烈地讨论是否 ScanPort 还是 nmap 才代表了最好的端口扫瞄技术时，她静静地说：我构造了一个包，让 lighttpd 崩溃了。——追究技术细节，而不是依赖于工具的结果。</li><br>
	<li>3.在所有人热烈地讨论是否 Android 代表了移动互联网的发展趋势时，她静静地说：我的程序已经上线了。——实践，而不是清谈。</li><br>
	<li>4.在所有人热烈地讨论究竟《失控》还是《黑客与画家》还是 Design Patterns 才是技术人该谈论的话题时，她静静地说：我不看这些书，只写程序。——习惯动手验证，而不是满足于书本。</li><br>
		<li>5.在所有人热烈地讨论是否读完了《计算机程序设计艺术》就可以去微软上班时，她静静地说：我昨天删掉了一个多余的分辨率更新语句，动画渲染速度提高了10％。——看重学习的效果，而不是能给自己带来多少利益。</li><br>
		<DIV class=ttl1 id=ttl0><SPAN class=ttl1></SPAN></DIV>
	</ul>
</div>
-->

<!--内容-->
<div class="content">
	<div>
	<ul>
		<li>
		<div class="websec">
			<a href="#" class="con_img" title="Web应用安全"><img src="http://picm.photophoto.cn/005/008/009/0080090122.jpg"></a>
			<p>
			<a href="#" class="con_txt">Web应用安全</a>
			</p>
		</div>
		</li>
		
		<li>
			<div class="websec">
			<a href="#" class="con_img"><img src="http://picm.photophoto.cn/005/008/009/0080090122.jpg"></a>
			<p>
			<a href="#" class="con_txt">Web应用安全</a>
			</p>
		</div>
		</li>
		
		<li>
			<div class="websec">
			<a href="#" class="con_img"><img src="http://picm.photophoto.cn/005/008/009/0080090122.jpg"></a>
			<p>
			<a href="#" class="con_txt">Web应用安全</a>
			</p>
		</div>
		</li>
				<li>
			<div class="websec">
			<a href="#" class="con_img"><img src="http://picm.photophoto.cn/005/008/009/0080090122.jpg"></a>
			<p>
			<a href="#" class="con_txt">Web应用安全</a>
			</p>
		</div>
		</li>
				<li>
			<div class="websec">
			<a href="#" class="con_img"><img src="http://picm.photophoto.cn/005/008/009/0080090122.jpg"></a>
			<p>
			<a href="#" class="con_txt">Web应用安全</a>
			</p>
		</div>
		</li>
				<li>
			<div class="websec">
			<a href="#" class="con_img"><img src="http://picm.photophoto.cn/005/008/009/0080090122.jpg"></a>
			<p>
			<a href="#" class="con_txt">Web应用安全</a>
			</p>
		</div>
		</li>
		
	</ul>
	</div>
	
</div>


<footer><!--页脚-->
	<div class="foot">
	 <div class="foot_1">
		<a>Copyright &copy; 2015 ijishu.org All Rights Reserved |</a>
		<a>部署于</a><a href="https://github.com/">Github大驱动</a>
	 </div>
	</div>
</footer>
</body>
</html>
<!--羊驼大神保佑 代码无Bug!-->
